fabrica/.idea/compiler.xml
fabrica/.idea/misc.xml
.idea/sonarlint/issuestore/9/9/99cb5200a2cf6f60df948fcf88577d6fa9cf8bcf
.idea/sonarlint/issuestore/8/c/8c069b2616050ff1481e5e3cdecd6cc49cc2d359
.idea/repositorio.iml
.idea/modules.xml
.idea/misc.xml
.idea/dataSources.xml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/8/5/85c09d552b7917bf2bb95faeac87d336fb30963b
.idea/sonarlint/issuestore/0/d/0d1546555d4f84a3903486acfe2bd42cf90ec32d
.idea/dataSources.local.xml
.idea/.gitignore
simulador_maquina/monitor_request/send_messages.o
simulador_maquina/monitor_request/monitor_requests.o
simulador_maquina/monitor_request/machine.o
simulador_maquina/monitor_request/createSock.o
simulador_maquina/tcpCli
simulador_maquina/send_message
simulador_maquina/send
simulador_maquina/monitor_request/server
.idea/sonarlint/issuestore/d/0/d0f8e763dad58bc47930b25ecda1893628e52d9c
.idea/sonarlint/issuestore/1/2/12540e647e7fa7472548c7b8c0d45ee67fa54c99
LPROG/.idea/
